.pr-hours {
    .new-hour {
        margin-bottom: 100px;

        td {
            padding: 10px;
        }
    }

    .dlt-hour {
        color: red;
        transition: 0.3s all linear;
        cursor: pointer;

        &:hover {
            transform: scale(1.05);
        }
    }
}
