.sample-registration {
    form {
        display: flex;
        gap: 40px;
        td {
            vertical-align: middle;
        }
    }

    .customer-times {
        list-style-type: none;
        @include grid(4, 10);
        padding: 0;
        margin: 0;
        li {
            padding: 8px 16px;
            border: 1px solid #ccc;

            &.available {
                cursor: pointer;
                transition: 0.3s all linear;
                &.active {
                    background-color: black;
                    color: white;
                }
            }

            &.unavailable {
                cursor: not-allowed;
                background-color: #ddd;
            }
        }
    }

    .agreement {
        .terms {
            max-height: 150px;
            border: 2px solid #ccc;
            padding: 10px;
            overflow-x: auto;
        }
        margin-bottom: 30px;
    }
}
